node_modules
dist
others
logs
chrome
build

bfv-manager-win.exe
bfv-manager-linux.sh

data-statistics-win.exe
data-statistics-linux.sh
bombScanManager.sh
build_steps.bat

*.db
/config.json
/check_config.json